#broadcast {
    -fx-background-color :  #E05553;
}
#broadcast:hover{
    -fx-cursor:hand;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
}
#broadcast:pressed{
    -fx-background-color : #c75958
}


.button{
    -fx-background-color:  #808080;
}

.button:hover {
    -fx-cursor:hand;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
}