#dispatch {
    -fx-background-color: #FFCA75;

}

#dispatch:hover {
    -fx-cursor:hand;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
}

#dispatch:pressed {
    -fx-background-color: #ffb14e;
}

.button{
    -fx-background-color:  #808080;
}

.button:hover {
    -fx-cursor:hand;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
}