#info{
    -fx-background-color :  #8ECE94;
}

#dispatch{
    -fx-background-color :  #FFCA75;
}

#broadcast{
    -fx-background-color :  #E05553;
}

.button{
     -fx-background-color : #808080;
}

.button:hover {
    -fx-cursor:hand;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
}